{
  "parser": "babel-eslint",
  "plugins": [
      "react",
      "react-redux",
      "jest"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react-redux/recommended",
      "plugin:jest/recommended"
  ],
  "settings": {
    "react": {
      "pragma": "React",    // Pragma to use, default to "React"
      "version": "16.2.0",  // React version, default to the latest React stable release
      "flowVersion": "0.53" // Flow version
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
